# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Env
.venv/
venv/

# VSCode
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
output/
uploaded_docs/
uploaded_files/
.env
