fastapi
uvicorn[standard]
langchain-core
langchain-openailangchain-community>=0.0.10
pypdf
unstructured
python-multipart
tiktoken
python-dotenv
reportlab
pydantic
openai
pdfkit
stripe
sendgrid==6.10.0