fastapi
uvicorn[standard]
langchain
langchain_openai
langchain_community
pypdf
unstructured
python-multipart
tiktoken
python-dotenv
reportlab
pydantic
openai
pdfkit
stripe
sendgrid
langchain-community>=0.0.10